{% extends 'base.html.twig' %}

{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css.map') }}">
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 2em;
            padding: 2em;
            background-color: #f4f4f4;
        }

        .example-wrapper {
            max-width: 1800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
            text-align: center;
            margin: 2em auto;
        }

        .button-container {
            margin-bottom: 1em;
        }

        .button-container button {
            background-color: #4CAF50;
            color: white;
            border: none;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 1em;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 12px;
            text-align: left;
        }

        th {
            background-color: #4CAF50;
            color: white;
        }

        .delete-button {
            background-color: #f44336;
        }
    </style>
{% endblock %}

{% block body %}
<div class="example-wrapper">
    <div class="button-container">
        <button onclick="window.location.href='{{ path('sendEmailToEdu') }}'">Envoyer un nouveau mail</button>
        <button onclick="window.location.href='{{ path('app_logout') }}'">Déconnexion</button>
    </div>

    <table border="3">
        <thead>
            <tr>
                <th>Date</th>
                <th>Objet</th>
                <th>Message</th>
                <th>Destinataire</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for email in emails %}
                <tr>
                    <td>{{ email.DateEnvoi|date('d/m/Y') }}</td>
                    <td>{{ email.objet }}</td>
                    <td>{{ email.message }}</td>
                    <td>
                        {% for educateur in email.educateurs %}
                            {{ educateur.email }}
                            {% if not loop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        <a href="{{ path('MailEdudelete', {'id': email.id}) }}" class="delete-button">Supprimer</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
