
{% extends 'base.html.twig' %}

{% block title %}Envoyer un mail{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h1 class="text-center mb-4">Envoyer un mail</h1>

    {{ form_start(form) }}
                
                <div class="mb-3">
                    {{ form_row(form.objet, {'attr': {'class': 'form-control', 'placeholder': 'Objet du mail'}}) }}
                </div>

                <div class="mb-3">
                    {{ form_row(form.message, {'attr': {'class': 'form-control', 'placeholder': 'Votre message'}}) }}
                </div>

                <div class="mb-3">
                    {{ form_row(form.destinataire, {'attr': {'class': 'form-control', 'placeholder': 'Destinataire'}}) }}
                </div>

                <button type="submit" class="btn btn-primary">Envoyer</button>

                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}